{
	"presets": [
		"env",
		"es2017",
		"flow",
		"react",
		"stage-0"
	],
	"env": {
		"test": {
			"plugins": [
				"istanbul"
			]
		}
	},
	"plugins": [
		"react-hot-loader/babel",
		"transform-async-to-generator",
		[
			"transform-class-properties",
			{
				"spec": true
			}
		]
	],
	"parserOpts": {
		"plugins": [
			"jsx",
			"flow"
		]
	}
}
