{
	"presets": [
		"env",
		"flow",
		"react",
		"es2017",
		"stage-0"
	],
	"env": {
		"test": {
			"plugins": [
				"istanbul"
			]
		}
	},
	"plugins": [
		"react-hot-loader/babel",
		"transform-async-to-generator",
		[
			"transform-class-properties",
			{
				"spec": true
			}
		],
		"inline-import-graphql-ast"
	],
	"retainLines": true
}
